<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
</head>
<body>
<form action="/appointments/add" method="post">
    DateTime <input type="datetime-local" name="dateTime" ><br>
    <select name="doctor.id">
    <option th:each="doctor : ${doctors}"
            th:value="${doctor.id}"
            th:text="${doctor.name + ' ' + doctor.surname}">
    </option>
    </select>
    <select name="patient.id">
    <option th:each="patient : ${patients}"
            th:value="${patient.id}"
            th:text="${patient.name + ' ' + patient.surname}">
    </option>
    </select>
    <input type="submit" value="create">

</form>
</body>
</html>