<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Appointments</title>
</head>
<body>
<h1>Appointments</h1>
<a href="/appointments/add">Add appointments</a>
<table border="1px">
  <tr>
    <th>id</th>
    <th>doctorId</th>
    <th>PatientId</th>
    <th>dateTime</th>
    <th>action</th>
  </tr>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${appointment.doctor}" ></td>
    <td th:text="${appointment.patient}"></td>
    <td th:text="${#dates.format(appointment.dateTime, 'yyyy-MM-dd HH:mm')}"></td>
    <td><a th:href="@{/appointments/remove(id=${appointment.id})}">Remove</a></td>
  </tr>
</table>
<a href="/">Back</a>
</body>
</html>