<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Doctors</title>
</head>
<body>
<h1>Doctors</h1>
<a href="/doctors/add">Add doctors</a>
<table border="1px">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>email</th>
    <th>speciality</th>
    <th>phoneNumber</th>
    <th>profilePic</th>
    <th>action</th>
  </tr>
  <tr th:each="doctor : ${doctors}">
    <td th:text="${doctor.id}"></td>
    <td th:text="${doctor.name}"></td>
    <td th:text="${doctor.surname}"></td>
    <td th:text="${doctor.email}"></td>
    <td th:text="${doctor.speciality}"></td>
    <td th:text="${doctor.phoneNumber}"></td>
    <td><img th:if="${doctor.getImgName() != null}" th:src="@{/getImage(imageName=${doctor.getImgName()})}" width="20"/></td>
    <td><a th:href="@{/doctors/remove(id=${doctor.id})}">Remove</a></td>
  </tr>
</table>
<a href="/">Back</a>
</body>
</html>